[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
[submodule "Carthage/Checkouts/SwiftyJSON"]
	path = Carthage/Checkouts/SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "Carthage/Checkouts/keychain-swift"]
	path = Carthage/Checkouts/keychain-swift
	url = https://github.com/exchangegroup/keychain-swift.git
	ignore = dirty
[submodule "Carthage/Checkouts/ReactiveCocoa"]
	path = Carthage/Checkouts/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
[submodule "Carthage/Checkouts/mixpanel-iphone"]
	path = Carthage/Checkouts/mixpanel-iphone
	url = https://github.com/mixpanel/mixpanel-iphone.git
