github "ReactiveCocoa/ReactiveCocoa" "v4.2.2"
github "Palleas/SwiftyJSON" "swift-2.3"
github "exchangegroup/keychain-swift" "swift_2_3"
github "mixpanel/mixpanel-iphone" "v3.0.3"
github "palleas/BetaSeriesKit" "master"
