github "ReactiveCocoa/ReactiveCocoa" "swift2"
github "SwiftyJSON/SwiftyJSON" "2.3.0"
github "exchangegroup/keychain-swift" "3.0.7"
github "mixpanel/mixpanel-iphone" "v2.9.0"
github "groue/GRMustache.swift" == 0.11.0
github "palleas/swifter" "share-framework-scheme"
