<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MixpanelAPIKey</key>
	<string>be41f0eebd42dfe6f76dcfc20e654693</string>
	<key>BetaseriesAPISecret</key>
	<string>677291f89361564efc05a4325108083d</string>
	<key>BetaseriesAPIKey</key>
	<string>045EEDA0479C</string>
</dict>
</plist>
